<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        <form action = "" method = "post">
            {% csrf_token %}
            <h2>Database Testing</h2>
            <br>
            <input name="id">
            <br>
            <input name="rand_char">
            <button type="submit" value="Submit">Add</button>
        </form>
    </main>
    </body>
</html>